@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #F9F0EE;
}

h1 {
    color: black;
    font-family: "Playfair";
    font-size: 4em;
    padding-left: .5em;
    text-align: center;
padding-bottom: .25em;
    margin: 0;
}

nav {
    word-spacing: 1.5em;
    text-align: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

nav a {
    color: black;
    font-family: "Lato";
    font-size: 1.5em;
    padding: 1em;
}


main {
    font-family: "Lato";
    padding: 1.25em;
    /* background-color: #F9F0EE;
    height: 100vh; */
}

.row {
    font-size: 1.5em;
}

.intro img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

h2 {
    font-family: "Playfair";
    font-size: 2em;
    font-weight: bold;
    padding: .25em;
}

h4 {
    padding: .5em 0 0 0;
}

.title {
    text-align: center;
}

header {
    background-color: #ece3f0;
    padding: 1em;
}

.contacts {
    font-size: 1.5em;
    padding: 1em;
}

.clips {
    padding: 1em 0 2em 2em;
}
footer {
    padding-left: 2em;
}